<config>
	<!-- Main config -->
	<cfg name="DebugMode" value="1" type="Boolean" change="0" />
	<cfg name="inADSwitch" value="1" type="Boolean" change="1" />
	<cfg name="passLoadScreen" value="1" type="Boolean" change="1" />
	<cfg name="passUpdateScreen" value="1" type="Boolean" change="1" />
	<cfg name="UIParallax" value="1" type="Boolean" change="1" />
	<cfg name="fullScreen" value="0" type="Boolean" change="1" />
	<!-- Language -->
	<cfg name="Language" value="zh-CN" type="Language" change="1" />
	<!-- Address config -->
	<cfg name="System" value="System/" type="text" change="1" />
	<cfg name="Graphic" value="Graphics/" type="text" change="1" />
	<cfg name="Script" value="Script/" type="text" change="1" />
	<cfg name="UI" value="UI/" type="text" change="1" />
	<cfg name="Save" value="Save/" type="text" change="1" />
	<cfg name="Audio" value="Audio/" type="text" change="1" />
	<cfg name="LanguageAddress" value="language/" type="text" change="1" />
	<cfg name="ADRoot" value="AD/" type="text" change="1" />
	<!-- NameSpace config -->
	<cfg name="ns_save" value="sav" type="text" change="1" />
	<cfg name="ns_script" value="xml" type="text" change="1" />
	<cfg name="ns_script_list" value="__load" type="text" change="1" />
	<!-- UI Screen config -->
	<cfg name="initingScreen" value="initing.swf" type="text" change="1" />
	<cfg name="updatingScreen" value="update.swf" type="text" change="1" />
	<cfg name="loadingScreen" value="loading.swf" type="text" change="1" />
	<cfg name="coverScreen" value="cover.swf" type="text" change="1" />
	<cfg name="gameScreen" value="game.swf" type="text" change="1" />
	<cfg name="saveloadScreen" value="save.swf" type="text" change="1" />
	<cfg name="CGScreen" value="cg.swf" type="text" change="1" />
	<cfg name="ExtraScreen" value="extra.swf" type="text" change="1" />
	<cfg name="settingScreen" value="settings.swf" type="text" change="1" />
	<cfg name="quitingScreen" value="quiting.swf" type="text" change="1" />
	<cfg name="backTitleScreen" value="backTitle.swf" type="text" change="1" />
	<cfg name="ADScreen" value="AD.swf" type="text" change="1" />
	<cfg name="inADScreen" value="inAD.swf" type="text" change="1" />
	<cfg name="dialogScreen" value="dialog.swf" type="text" change="1" />
	<cfg name="peopleScreen" value="people.swf" type="text" change="1" />
	<cfg name="pictureScreen" value="picture.swf" type="text" change="1" />
	<cfg name="InputFormScreen" value="inputForm.swf" type="text" change="1" />
	<cfg name="historyScreen" value="history.swf" type="text" change="1" />
	<cfg name="SelectFormScreen" value="selectForm.swf" type="text" change="1" />
	<cfg name="SelectFormScreenGame" value="selectFormGame.swf" type="text" change="1" />
	<!-- UI Graphic address config -->
	<cfg name="gui" value="ui/" type="text" change="1" />
	<cfg name="res" value="res/" type="text" change="1" />
	<cfg name="headpic" value="head/" type="text" change="1" />
	<cfg name="people" value="people/" type="text" change="1" />
	<cfg name="picture" value="picture/" type="text" change="1" />
	<cfg name="background" value="bg/" type="text" change="1" />
	<cfg name="other" value="other/" type="text" change="1" />
	<!-- UI Graphic config -->
	<cfg name="black" value="black.png" type="text" change="1" />
	<cfg name="cgBG" value="cgbg.png" type="text" change="1" />
	<cfg name="extraBG" value="extrabg.png" type="text" change="1" />
	<cfg name="coverBG" value="coverbg.png" type="text" change="1" />
	<cfg name="loadingBG" value="loading.swf" type="text" change="1" />
	<cfg name="saveBG" value="savebg.png" type="text" change="1" />
	<cfg name="setBG" value="setbg.png" type="text" change="1" />
	<cfg name="black" value="black.png" type="text" change="1" />
	<cfg name="dialog" value="dialog.png" type="text" change="1" />
	<!-- System data config -->
	<cfg name="maxSaveNumber" value="90" type="text" change="1" />
	<!-- UI Module config -->
	<cfg name="textbox" value="textbox.swf" type="text" change="1" />
	<!-- Audio config -->
	<cfg name="music_vol" value="50" type="text" change="1" />
	<cfg name="voice_vol" value="50" type="text" change="1" />
	<cfg name="sound_vol" value="50" type="text" change="1" />
	<cfg name="music_addr" value="music/" type="text" change="1" />
	<cfg name="voice_addr" value="voice/" type="text" change="1" />
	<cfg name="sound_addr" value="sound/" type="text" change="1" />
	<!-- Game system config -->
	<cfg name="gameSystem" value="game_gal.swf" type="text" change="0"/>
	<!-- Game main config -->
	<cfg name="game_dialog_text_speed" value="2" type="text" change="1"/>
</config>